@charset "UTF-8";
/*---------------------index--------------------*/
.nav {
	display: flex; /* 네비게이션 바 내부 요소를 가로 정렬 */
	justify-content: left; /* 왼쪽 정렬 */
	background-color: #4B2E2E;
}

.nav li {
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	font-weight: bold;
	margin-right: 33px;
}

.nav li:last-child {
	margin-right: 0; /*마지막 요소는 간격 제거용*/
}

/* 네비게이션 바의 a 태그를 gold 색상으로 설정 */
.nav a {
	color: white;
	font-weight: bold;
}
/*----------------------ufc-----------------*/
.nav1 {
	display: flex; /* 네비게이션 바 내부 요소를 가로 정렬 */
	justify-content: left; /* 왼쪽 정렬 */
	background-color: black;
}

.nav1 li {
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	font-weight: bold;
	margin-right: 33px;
}

.nav1 li:last-child {
	margin-right: 0; /*마지막 요소는 간격 제거용*/
}

/* 네비게이션 바의 a 태그를 gold 색상으로 설정 */
.nav1 a {
	color: #1efeb2;
	font-weight: bold;
}
/*----------------------ufc-----------------*/



.nav3 {
	display: flex; /* 네비게이션 바 내부 요소를 가로 정렬 */
	justify-content: left; /* 왼쪽 정렬 */
	background-color: black;
}

.nav3 li {
	color: #4169E1	;
	font-size: 20px;
	padding: 10px 20px;
	font-weight: bold;
	margin-right: 33px;
}

.nav3 li:last-child {
	margin-right: 0; /*마지막 요소는 간격 제거용*/
}
.nav3 a {
	color: #0074D9;
	font-weight: bold;
}

/*---------rdr--------------------*/

.nav2 {
	display: flex; /* 네비게이션 바 내부 요소를 가로 정렬 */
	justify-content: left; /* 왼쪽 정렬 */
	background-color: black;
}

.nav2 li {
	color: #FF0000;
	font-size: 20px;
	padding: 10px 20px;
	font-weight: bold;
	margin-right: 33px;
}

.nav2 li:last-child {
	margin-right: 0; /*마지막 요소는 간격 제거용*/
}

/* 네비게이션 바의 a 태그를 붉은 색상으로 설정 */
.nav2 a {
	color: #FF0000;
	font-weight: bold;
}

/*--------Horizon------------*/
.nav4{
	display : flex; /*네비게이션 바 내부 요소를 가로 정렬*/
	justify-content : left; /* 왼쪽 정렬 */
	background-color: #037fcb;
}
.nav4 li{
/*	color: #b3d6ee;*/
	font-size : 20px;
	padding : 10px 20px;
	font-weight : bold;
	margin-right : 33px;
}
.nav4 li:last-child {
	margin-right: 0; /*마지막 요소는 간격 제거용*/
}
.nav4 a{
	color : white;
	font-weight: bold;
}